name: Build/tangle dolpo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build
        run: |
          ./README.md
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          path: build/*
